In [1]:
import pandas as pd
import numpy as np

In [2]:
poke_df = pd.read_csv('pokemon.csv')
evo_df = pd.read_csv('evolutions.csv')

In [3]:
poke_df

,id,name,height,weight,hp,attack,defense,special-attack,special-defense,speed,primary-type,secondary-type
0,1,Bulbasaur,7,69,45,49,49,65,65,45,grass,poison
1,2,Ivysaur,10,130,60,62,63,80,80,60,grass,poison
2,3,Venusaur,20,1000,80,82,83,100,100,80,grass,poison
3,4,Charmander,6,85,39,52,43,60,50,65,fire,NaN
4,5,Charmeleon,11,190,58,64,58,80,65,80,fire,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
1005,1006,Iron-Valiant,14,350,74,130,90,120,60,116,fairy,fighting
1006,1007,Koraidon,25,3030,100,135,115,85,100,135,fighting,dragon
1007,1008,Miraidon,35,2400,100,85,100,135,115,135,electric,dragon
1008,1009,Walking-Wake,35,2800,99,83,91,125,83,109,water,dragon
1009,1010,Iron-Leaves,15,1250,90,130,88,70,108,104,grass,psychic

In [4]:
evo_df

             name evolves-from
0         Ivysaur    Bulbasaur
1        Venusaur      Ivysaur
2      Charmeleon   Charmander
3       Charizard   Charmeleon
4       Wartortle     Squirtle
..            ...          ...
666  Iron-Valiant          NaN
667      Koraidon          NaN
668      Miraidon          NaN
669  Walking-Wake          NaN
670   Iron-Leaves          NaN

[671 rows x 2 columns]

In [5]:
merged = poke_df.merge(evo_df, on="name", how="left")

In [6]:
merged = merged.rename(columns={"base-eperience": "base-experience"})

In [8]:
ids = merged["id"]

In [9]:
regions = np.where(ids <= 151, "Kanto", 
        np.where((ids > 151) & (ids <= 251), "Johto",
                 np.where((ids > 251) & (ids <= 386), "Hoenn", 
                          np.where((ids > 386) & (ids <= 493), "Sinnoh",
                                   np.where((ids > 493) & (ids <= 649), "Unova",
                                            np.where((ids > 649) & (ids <= 721), "Kalos",
                                                     np.where((ids > 721) & (ids <= 809), "Alola",
                                                              np.where((ids > 809) & (ids <= 905), "Galar",
                                                                       np.where((ids > 905), "Paldea", ids)))))))))
generations = np.where(ids <= 151, 1, 
        np.where((ids > 151) & (ids <= 251), 2,
                 np.where((ids > 251) & (ids <= 386), 3, 
                          np.where((ids > 386) & (ids <= 493), 4,
                                   np.where((ids > 493) & (ids <= 649), 5,
                                            np.where((ids > 649) & (ids <= 721), 6,
                                                     np.where((ids > 721) & (ids <= 809), 7,
                                                              np.where((ids > 809) & (ids <= 905), 8,
                                                                       np.where((ids > 905), 9, ids)))))))))

In [14]:
merged["region"] = regions
merged["generation"] = generations
merged["base-stat-total"] = merged[["hp", "attack", "defense", "special-attack", "special-defense", "speed"]].sum(axis=1)

In [15]:
merged

,id,name,height,weight,evolves-from,hp,attack,defense,special-attack,special-defense,speed,primary-type,secondary-type,Region,Generation,region,generation,base-stat-total
0,1,Bulbasaur,7,69,NaN,45,49,49,65,65,45,grass,poison,Kanto,1,Kanto,1,318
1,2,Ivysaur,10,130,Bulbasaur,60,62,63,80,80,60,grass,poison,Kanto,1,Kanto,1,405
2,3,Venusaur,20,1000,Ivysaur,80,82,83,100,100,80,grass,poison,Kanto,1,Kanto,1,525
3,4,Charmander,6,85,NaN,39,52,43,60,50,65,fire,NaN,Kanto,1,Kanto,1,309
4,5,Charmeleon,11,190,Charmander,58,64,58,80,65,80,fire,NaN,Kanto,1,Kanto,1,405
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1005,1006,Iron-Valiant,14,350,NaN,74,130,90,120,60,116,fairy,fighting,Paldea,9,Paldea,9,590
1006,1007,Koraidon,25,3030,NaN,100,135,115,85,100,135,fighting,dragon,Paldea,9,Paldea,9,670
1007,1008,Miraidon,35,2400,NaN,100,85,100,135,115,135,electric,dragon,Paldea,9,Paldea,9,670
1008,1009,Walking-Wake,35,2800,NaN,99,83,91,125,83,109,water,dragon,Paldea,9,Paldea,9,590
1009,1010,Iron-Leaves,15,1250,NaN,90,130,88,70,108,104,grass,psychic,Paldea,9,Paldea,9,590

In [16]:
merged = merged[["id", "name", "height", "weight", "evolves-from", "hp", "attack", "defense", "special-attack", "special-defense", "speed", "base-stat-total", "primary-type", "secondary-type"]]